@page "/cathome"
@inject NavigationManager navman;
@inject SessionModel sm;

<PageTitle>Categories Home</PageTitle>

@if(sm.checklogin != null)
{
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <h2 class="leadorder text-center text-white">Categories Home</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container-fluid">
            <div class="text-center buttonrow">
                <button class="btn btn-primary" type="button" @onclick="gototaddcat" >Add New Category</button>
            </div>
        </div>
    </div>
        <div class="container">
            <div class="container-fluid">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <td>Category ID</td>
                            <td>Name</td>
                            <td>Action Available</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in catdata)
                        {
                            <tr>
                                <td>@item.category_id</td>
                                <td>@item.cat_name</td>
                                <td>
                                    <div class="text-center">
                                        <button class="btn text-center btn-danger" @onclick="()=>deletecat(item.category_id)">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
}
else
{
    <div class="container">
        <div class="container-fluid">
            <div class="alert text-center row alert-danger" role="alert">
                <strong>Warning!</strong> You are not logged in. Please login to continue.
            </div>
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-outline-warning" type="button" @onclick="navtologin">Login</button>
                </div>
            </div>
        </div>
    </div>
}

<style>
    body {
        background-image: url("/bg.jpg");
    }

    .buttonrow{
        margin-left: 10px;
    }

    .leadorder {
        font-size: 3rem;
        margin-top: 30px;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .buttonrow {
        margin-bottom: 30px;
        margin-top: 40px;
    }

    .container-fluid {
        height: auto;
        font-weight: 600;
        font-style: normal;
    }

    .table {
        width: 100%;
        border-radius: 10px;
        border: 1px solid #ddd;
        color: white;
        background-color: rgba(0, 0, 0, 0.6); /* Set a subtle background color for headers */
    }

    .thead {
        font-size: 1.2rem;
    }

    .table thead th,
    .table tbody td {
        padding: 10px;
        text-align: left;
    }
</style>

@code {
    List<CategoriesModel> catdata = new List<CategoriesModel>();

    protected override Task OnInitializedAsync()
    {
        catdata = CategoriesDBControl.Showcategories();
        return base.OnInitializedAsync();
    }

    protected void gototaddcat()
    {
        navman.NavigateTo("addcat");
    }

    protected void deletecat(int catid)
    {
        CategoriesDBControl.deletecategory(catid);
        catdata = CategoriesDBControl.Showcategories();
    }

    protected void navtologin()
    {
        navman.NavigateTo("/");
    }
}
